.card-container {

  .card-info {
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    width: 100%;
    will-change: opacity, transform;

    &.enter, &.appear {
      opacity: 0;
      transform: scale(0.9);
    }

    &.enter-active, &.appear-active {
      opacity: 1;
      transform: translateX(0);
      transition: opacity 300ms, transform 300ms;
    }

    &.exit {
      opacity: 1;
    }

    &.exit-active {
      opacity: 0;
      transform: scale(0.9);
      transition: opacity 125ms, transform 125ms;
    }

    & > div {
      display: flex;
      flex-flow: column nowrap;
      margin-top: 0.5rem;
      width: calc(50% - 0.75rem);
    }

    & .info-left {
      margin-right: 1.5rem;
    }

    & .info-value {
      font-size: 2rem;
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & .info-name {
      color: rgba(0, 0, 0, 0.3);
      font-size: 0.7rem;
      font-weight: 800;
      text-transform: uppercase;
    }

    $red: rgba(255, 0, 0, 0.4);
    $orange: rgba(255, 165, 0, 0.4);
    $yellow: rgba(165, 165, 0, 0.4);
    $green: rgba(0, 165, 0, 0.4);

    & .info-name .high-perc-lte-10 {
      color: $red;
    }

    & .info-name .high-perc-lte-25 {
      color: $orange;
    }

    & .info-name .high-perc-lte-50 {
      color: $yellow;
    }

    & .info-name .high-perc-lte-100 {
      color: $green;
    }

    & .info-name .low-perc-lte-50 {
      color: $green;
    }

    & .info-name .low-perc-lte-75 {
      color: $yellow;
    }

    & .info-name .low-perc-lte-90 {
      color: $orange;
    }

    & .info-name .low-perc-lte-100 {
      color: $red;
    }
  }
}
