.about-container {
  margin-top: -10rem;

  .about {
    text-align: justify;

    p {
      margin: 16px;
    }
  }

  .faq,
  .contributors {
    padding-top: 1rem;
  }

  .Collapsible {
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    margin: 10px;
    min-height: 22px;
    position: relative;

    &__trigger {
      color: #7b858e;
      cursor: pointer;
      display: block;
      font-weight: 900;
      padding: 1.25rem 3.5rem 1.25rem 1.5rem;
    }

    &__trigger:after {
      background-color: #7b858e;
      content: '';
      display: block;
      margin: 2px;
      mask: url(../icons/left-arrow.svg);
      position: absolute;
      right: 1.25rem;
      top: 1.25rem;
      transform: rotateZ(-90deg);
      transform-origin: center center;
      transition: transform 0.3s ease;
      width: 18px;
      height: 18px;
    }

    &__trigger.is-open:after {
      transform: rotateZ(90deg);
    }

    &__contentInner {
      padding: 0 1.5rem 1.25rem 1.5rem;
      text-align: justify;
    }
  }
}
