.card-container {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  height: 162px;
  margin: 0.55rem;
  outline: none;
  overflow: hidden;
  padding: 1.25rem 1.5rem;
  position: relative;
  width: 320px;


  .card-header {
    color: #7b858e;
    font-size: 1.2rem;
    font-weight: 900;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    margin-right: 8rem;
    overflow: hidden;
    pointer-events: none;
    position: relative;
    text-overflow: ellipsis;
    top: -3px;
    user-select: none;
    white-space: nowrap;
  }

  .card-info-container {
    pointer-events: none;
    position: relative;
    user-select: none;
  }

  &.only-header {

    .card-header {
      margin-right: 0;
      overflow: auto;
      white-space: normal;
    }

    .card-select {
      display: none;
    }

    .card-info-container {
      display: none;
    }
  }

  .card-notification {
    pointer-events: none;
  }

  & > a,
  .card-notification {
    bottom: 0;
    color: #4099de;
    font-size: 0.8rem;
    font-weight: 800;
    padding: 0.5rem 1rem 0.8rem 0.5rem;
    position: absolute;
    right: 0;
    text-decoration: none;
    user-select: none;

    &:hover {
      opacity: 0.5;
    }
  }
}
