@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}

@mixin loading-animation {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  height: 1rem;
  margin: 0;
  overflow: hidden;
  position: relative;

  &::after {
    animation: loading 1.5s infinite;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .45), transparent);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transform: translateX(-100%);
    width: 100%;
  }
}

.loading-container {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  height: 162px;
  margin: 0.55rem;
  min-width: 290px;
  padding: 1.25rem 1.5rem;
  position: relative;
  width: 320px;

  .loading-header {
    @include loading-animation;

    height: 1.2rem;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    margin-right: 8rem;
    width: 60%;
  }

  .loading-select {
    @include loading-animation;

    height: 2rem;
    position: absolute;
    right: 1rem;
    top: 0.8rem;
    width: 120px;
  }

  .loading-info {
    display: flex;
    flex-flow: row wrap;

    & > div {
      display: flex;
      flex-flow: column nowrap;
      margin-top: 0.5rem;
      width: calc(50% - 0.75rem);
    }

    & .info-left {
      margin-right: 1.5rem;
    }

    & .info-value {
      @include loading-animation;

      width: 120px;
      height: 3.5rem;
    }
  }

  .loading-link {
    @include loading-animation;

    bottom: 0.8rem;
    height: 1rem;
    position: absolute;
    right: 1rem;
    width: 100px;
  }
}
